---
import Layout from '../layouts/Layout.astro';
import Instagram from 'phosphor-astro/InstagramLogo.astro';
import LinkedIn from 'phosphor-astro/LinkedinLogo.astro';
import Mail from 'phosphor-astro/EnvelopeSimple.astro';

import Portrait from '../images/Portrait2024.png'
import NYC from '../images/NewYork.png'
import Picture from 'astro/components/Picture.astro';
---

<Layout title="Welcome to Astro.">
	<div class="container-grid hero--container">
		<div class="headline">
			<span>I'm Jeff,</span>
			<div class="hero--pill about"><Picture src={Portrait} width="300" alt="Portrait of Jeffrey Herrera" loading="eager" /></div>
			<span>a creative director from</span>
			<span class="hero--pill nyc"><Picture src={NYC} width="300" alt="Portrait of Jeffrey Herrera" loading="eager" /></span>
			<span>shaping</span>
			<a href="/"><span>01<br>↗</span>brand</a>
			<span>experiences across</span>
			<a href="/"><span>02<br>↗</span>physical</a>
			<span>&amp;</span>
			<a href="/"><span>03<br>↗</span>digital</a>
		</div>
		<div class="current"><span>°</span><p>currently associate creative director & competitive cold brew drinker @</p></div>
		<div class="hero--contact container-grid">
			<div class="hero--contact-socials">
				<ul>
					<li><a href="https://www.instagram.com/_isthatjeff" target="_blank" rel="noreferrer"><Instagram /></a></li>
					<li><a href="https://www.linkedin.com/in/jeffrey-herrera" target="_blank" rel="noreferrer"><LinkedIn /></a></li>
					<li><a href="mailto:herrera.jeffrey@gmail.com" target="_blank" rel="noreferrer"><Mail /></a></li>
				</ul>
			</div>
			<div class="hero--contact-email">
				<a href="mailto:herrera.jeffrey@gmail.com">GET IN TOUCH ←</a>
			</div>
		</div>
	</div>
	<main>
	</main>
</Layout>

<style>
	.hero--container {
		font-family: "Eiko", 'Times New Roman', Times, serif;
		font-size: 4rem;
		line-height: 1.2;
		letter-spacing: -1.02px;
		color: var(--clr-amber-50);
		background-color: var(--clr-stone-950);
		padding-top: 10rem;
		padding-bottom: 13rem;
		border-end-end-radius: 2.5rem;
	}
	.hero--pill {
		width: 150px;
		height: 60px;
		display: inline-block;
		border-radius: 9999px;
		transform: translateY(5px);
		overflow: hidden;
	}
	.about {
		position: relative;
	}
	.about picture {
		width: 300px;
		max-width: 300px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		transition: var(--transition);
	}
	.about img {
		height: auto;
		max-width: 300px;
		transition: var(--transition);
	}
	.about:hover picture {
		transform: translate(-50%, -20%);
	}
	.nyc {
		background-color: #FFFBEA;
	}
	.nyc img {
		height: auto;
		transform: scale(1.1);
		transition: var(--transition);
	}
	.nyc:hover img {
		transform: scale(0.9);
	}
	.headline {
		grid-column: 1/9;
	}
	.headline a {
		text-decoration: none;
		color: var(--clr-amber-50);
		transition: var(--transition);
		display: inline-block;
		position: relative;
	}
	.headline a span {
		color: var(--clr-amber-400);
		text-transform: uppercase;
		font-family: "Fraktion Mono", 'Courier New', Courier, monospace;
		font-size: 12px;
		letter-spacing: -0.3px;
		display: inline-block;
		margin-right: 4px;
		transform: translateY(-1.75rem);
	}
	.headline a:hover {
		color: var(--clr-amber-400);
	}
	.current {
		grid-column: 1/13;
		font-family: "Fraktion Mono", 'Courier New', Courier, monospace;
		font-size: 16px;
		letter-spacing: -0.3px;
		text-transform: uppercase;
		max-width: 100%;
		margin-top: -0.5rem;
	}
	.current span {
		color: var(--clr-amber-400);
		margin-right: 4px;
	}
	.current p {
		display: inline;
		opacity: 0.5;
	}
	.hero--contact {
		padding-inline: 0;
		grid-column: 1/13;
	}
	.hero--contact-socials {
		grid-column: 1/9;
	}
	.hero--contact-email {
		grid-column: 9/11;
	}
</style>
