---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { join } from "node:path"
import { AstroFont } from "astro-font";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>

		<AstroFont
		  config={[
				{
					name: "Fraktion Mono",
					src: [
						{
							style: 'normal',
							weight: '400',
              path: join(process.cwd(), 'public', 'fonts', 'Fraktion Mono', 'PPFraktionMono-Regular.woff'),
						},
					],
          preload: false,
          display: "swap",
					selector: ".fraktion",
					cssVariable: "fraktion",
          fallback: "monospace",
				},
				{
					name: "Mori",
					src: [
						{
							style: 'normal',
							weight: '400',
              path: join(process.cwd(), 'public', 'fonts', 'Mori', 'PPMori-Regular.woff'),
						},
						{
							style: 'italic',
							weight: '400',
              path: join(process.cwd(), 'public', 'fonts', 'Mori', 'PPMori-RegularItalic.woff'),
						},
						{
							style: 'bold',
							weight: '700',
              path: join(process.cwd(), 'public', 'fonts', 'Mori', 'PPMori-SemiBold.woff'),
						},
						{
							style: 'italic',
							weight: '700',
              path: join(process.cwd(), 'public', 'fonts', 'Mori', 'PPMori-SemiBoldItalic.woff'),
						},
					],
          preload: true,
          display: "swap",
          selector: "body",
					cssVariable: "mori",
          fallback: "sans-serif",
				},
				{
					name: "Eiko",
					src: [
						{
							style: 'normal',
							weight: '400',
              path: join(process.cwd(), 'public', 'fonts', 'Eiko', 'PPEiko-Light.woff'),
						},
						{
							style: 'italic',
							weight: '400',
              path: join(process.cwd(), 'public', 'fonts', 'Eiko', 'PPEiko-LightItalic.woff'),
						},
					],
          preload: false,
          display: "swap",
					cssVariable: "eiko",
          fallback: "serif",
				},
			]}
		/>

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<Nav />
			<slot />
			<Footer />
		</div>
	</body>
</html>


<style is:global>
	:root {
		--clr-amber-50: #fffbeb;
		--clr-amber-100: #fef3c7;
		--clr-amber-200: #fde68a;
		--clr-amber-300: #fcd34d;
		--clr-amber-400: #fbbf24;
		--clr-amber-500: #f59e0b;
		--clr-amber-600: #d97706;
		--clr-amber-700: #b45309;
		--clr-amber-800: #92400e;
		--clr-amber-900: #78350f;
		--clr-amber-950: #451a03;
		--clr-stone-50: #fafaf9;
		--clr-stone-100: #f5f5f4;
		--clr-stone-200: #e7e5e4;
		--clr-stone-300: #d6d3d1;
		--clr-stone-400: #a8a29e;
		--clr-stone-500: #78716c;
		--clr-stone-600: #57534e;
		--clr-stone-700: #44403c;
		--clr-stone-800: #292524;
		--clr-stone-900: #1c1917;
		--clr-stone-950: #0c0a09;
		--transition: all cubic-bezier(0.4, 0, 0.2, 1) 300ms;
		--space: 1.5rem;
	}

	/* RESET */

		*, *::before, *::after {
			box-sizing: border-box;
			/* DEBUG */
			/* outline: solid red 1px; */
		}
		* {
			margin: 0;
		}
		body {
			line-height: 1.5;
			-webkit-font-smoothing: antialiased;
		}
		svg {
			width: 20px;
		}
		img, picture, video, canvas, svg {
			display: block;
			max-width: 100%;
		}
		input, button, textarea, select {
			font: inherit;
		}
		p, h1, h2, h3, h4, h5, h6 {
			overflow-wrap: break-word;
		}
		h1, h2, h3, h4, h5, h6 {
			text-wrap: balance;
		}
		p, li, figcaption {
			text-wrap: pretty;
			max-width: 65ch;
		}
		header, footer, main, section, article {
			container-type: inline-size;
		}
		#root, #__next {
			isolation: isolate;
		}
	
	/* FONTS */

	@font-face {
		font-family: 'Mori';
		src: url('/fonts/Mori/PPMori-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Mori';
		src: url('/fonts/Mori/PPMori-RegularItalic.woff') format('woff');
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'Mori';
		src: url('/fonts/Mori/PPMori-SemiBold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Mori';
		src: url('/fonts/Mori/PPMori-SemiBoldItalic.woff') format('woff');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'Fraktion Mono';
		src: url('/fonts/Fraktion Mono/PPFraktionMono-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Eiko';
		src: url('/fonts/Eiko/PPEiko-Light.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Eiko';
		src: url('/fonts/Eiko/PPEiko-LightItalic.woff') format('woff');
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	html {
		background: var(--clr-amber-50);
		color: var(--clr-stone-950);
	}

	body {
		font-family: "Mori", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	
	.hidden {
		display: none;
	}

	.wrapper {
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100vh;
	}

	.container {
		padding-inline: var(--space);
	}

	.container-grid {
		padding-inline: var(--space);
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--space);
	}
	
	main {
		border-radius: var(--space);
		background-color: var(--clr-amber-50);
	}
</style>
